<h1>Songs</h1>

<ul>
<% @songs.each do |song| %>
  <% artist_title = "#{song.artist_name} - #{song.title}" %>
  <li>
    <p><%= link_to artist_title, song_path(song) %></p>
    <p><%= link_to song.artist_name, artist_path(song.artist) %></p>
  </li>
<% end %>
</ul>
